<h1>Bienvenue {{ mail }} !</h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="lastname"> Nom :</label>
    <input
      type="text"
      formControlName="lastname"
      name="nom"
      ngModel
      required
      class="input-group-text"
    />

    <label for="firstname"> Prénom :</label>
    <input
      type="text"
      formControlName="firstname"
      name="prenom"
      ngModel
      required
      class="input-group-text"
    />
  </div>

  <div>
    <label for="address"> Numero et rue de l'adresse :</label>
    <input
      type="text"
      formControlName="address"
      name="nom"
      ngModel
      required
      class="input-group-text"
    />
    <label for="city"> Ville :</label>
    <input
      formControlName="city"
      name="ville"
      ngModel
      required
      class="input-group-text"
    />
  </div>
  <div class="form-group col-md-12 m-2">
    <button type="submit" class="btn btn-danger m-2">Enregistrer</button>

    <button routerLink="" class="btn btn-light">Return</button>
  </div>
</form>
