<header>
  <a routerLink><h1>Triassic Shop</h1> </a>

  <div *ngIf="uid">
    <button type="button" (click)="logOut()" class="btn btn-secondary">Se deconnecter</button>
  </div>
  
  <div *ngIf="uid == ''">
    <a routerLink="/auth"> Se connecter </a>
    <!--  <div id="firebaseui-auth-container"></div> -->
    <a routerLink="/newLog"> S'inscrire </a>
  </div>
</header>

<body>
  <nav>
    <div
      *ngFor="let OneRayon of rayon"
      style="color: #f0b83e"
      onclick="window.location.reload();"
    >
      <a routerLink="/type/{{ OneRayon.name }}">
        {{ OneRayon.name }}
      </a>
    </div>
  </nav>
  <p class="article">
    <router-outlet></router-outlet>
  </p>

  <aside>
    <a routerLink="/panier"> <h2>Panier</h2> </a>

    <div
      *ngFor="let OnePanier of panier"
      onmouseover="window.location.reload()"
    >
      <p>{{ OnePanier.quantite }} {{ OnePanier.name }}</p>
    </div>

    <p>Total :</p>
    <p>{{ totalPrice }}€</p>
  </aside>
</body>
