<header>
  <a routerLink><h1>Triassic Shop</h1> </a>
</header>

<body>
  <nav>
    <div
      *ngFor="let OneRayon of productRayon"
      style="color: #f0b83e"
      onclick="window.location.reload();"
    >
      <a routerLink="/type/{{ OneRayon.name }}">
        {{ OneRayon.name }}
      </a>
    </div>
  </nav>
  <p class="article">
    <router-outlet></router-outlet>
  </p>

  <aside>
    <a routerLink="/panier"> <h2>Panier</h2> </a>
    <div *ngFor="let OnePanier of panier">
      <p>{{ OnePanier.total }}</p>
    </div>
    <div *ngIf="total" class="totalPanier">
      <p>Total :</p>
      <p>{{ total }}€</p>
    </div>
  </aside>
</body>
