<header>
  <a routerLink><h1>Triassic Shop</h1> </a>
</header>

<body>
  <nav>
    <div
      *ngFor="let Onetype of dinotype"
      style="color: #f0b83e"
      onclick="window.location.reload();"
    >
      <a routerLink="/type/{{ Onetype.name }}">
        {{ Onetype.name }}
      </a>
    </div>
  </nav>
  <p class="article">
    <router-outlet></router-outlet>

  </p>

  <aside>
    <a routerLink="/panier"> <h2>Panier</h2> </a>
    <div *ngFor="let OnePanier of panier">
      <p>{{ OnePanier.quantite }} {{ OnePanier.dino }}</p>

    </div>
    <p *ngIf="total">{{ total }}€</p>
  </aside>
</body>
