<div style="align-self: center; margin: 2em">
  <!--   <button routerLink="/add-in-basket/produit/{{produit.id}}">Ajouter l'article au panier</button>
 -->
  <button
    data-bs-toggle="modal"
    data-bs-target="#modalDelete"
    class="btn btn-danger"
    (click)="onAdd(produit.name, quantite)"
    routerLink="/add-in-basket/produit/{{ produit.id }}"
  >
    Ajouter {{ produit.name }} au panier
  </button>
</div>

<div *ngIf="produit.id">
  <div>
    <h3>
      {{ produit.name }}
    </h3>
  </div>

  <div class="caract">
    <div>
      <p>{{ produit.prix_HT }} €</p>
      <p>{{ produit.rayon }} {{ produit.sous_rayon }}</p>
    </div>
    <!--  <img
      src="../../assets/img/{{ produit.name }}.png"
      alt="{{ produit.name }} "
    /> -->
  </div>
</div>

<div
  style="
    padding: 1em;

    white-space: 3em;
  "
>
  <footer>
    <a routerLink> Retour à l'accueil </a>
    <a routerLink="/catalogue"> Retour au catalogue </a>
  </footer>
</div>
