<div *ngIf="dinosaure.id" >
  <div>
    <h3>
      {{ dinosaure.name }}
    </h3>
  </div>

  <div class="caract">
    <div>
      <p>Taille : {{ dinosaure.size }} m</p>
      <p>Type : {{ dinosaure.type }}</p>
      <p>Régime alimentaire : {{ dinosaure.diet }}</p>
      <p>Prix : {{ dinosaure.price }}€</p>
    </div>
    <img
      src="../../assets/img/{{ dinosaure.name }}.png"
      alt="{{ dinosaure.name }} "
    />
  </div>
</div>

<p><button routerLink="/add-in-basket">Ajouter au panier</button></p>

<a routerLink=""> Retour à l'accueil</a>
