<p>new-produit works!</p>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()" #formProduit="ngForm">
  <label for="name">Nom du produit</label>
  <input
    class="input-group-text"
    type="string"
    formControlName="name"
    name="name"
  />

  <div>
    <label class="mr-sm-2" for="rayon">Rayon</label>
    <select class="custom-select mr-sm-2" id="rayon" formControlName="rayon">
      <option *ngFor="let rayon of rayons" [value]="rayon.name">
        {{ rayon.name }}
      </option>
    </select>
  </div>

  <div>
    <label class="mr-sm-2" for="sousRayon"> Sous-Rayon</label>
    <select
      class="custom-select mr-sm-2"
      id="sousRayon"
      formControlName="sousRayon"
    >
      <option *ngFor="let sousRayon of sousRayons" [value]="sousRayon.name">
        {{ sousRayon.name }}
      </option>
    </select>
  </div>

  <label for="price_HT">Prix Hors Taxe</label>
  <input
    class="input-group-text"
    type="number"
    formControlName="price_HT"
    name="price_HT"
  />

  <div class="form-group col-md-12 m-2">
    <button type="submit" class="btn btn-primary m-2">Ajouter</button>

    <button routerLink="/lienBDD" class="btn btn-light">Return</button>
  </div>
</form>
