<h1 *ngFor="let client of client">Dashboard de {{ client.firstname }} !</h1>

<div *ngFor="let client of client">
  <p>{{ client.firstname }} {{ client.lastname }}</p>
  <p>{{ client.address }} {{ client.city }}</p>

  <p>{{ client.mail }}</p>

  <div>
    Contenu du panier:
    <div *ngFor="let article of panier">
      <li>{{ article.quantite }} {{ article.name }} {{ article.price_HT }}€</li>
    </div>
    <p>Total : {{ totalPrice }}€</p>
  </div>
  <div>
    <button class="btn btn-info" routerLink="command/api">Commander</button>
    <button class="btn btn-info" routerLink="">Vider le panier</button>
  </div>

  <button class="btn btn-secondary" routerLink="/catalogue">Catalogue</button>
</div>
