<h1>Nouveau client</h1>
<div>
  <form

  >
    <div>
      <div>Adresse Mail :</div>
      <input
        formControlName="mail"
        name="mail"
        ngModel
        mail
        required
        type="mail"
        class="input-group-text"
      />
      <div>Mot de passe :</div>
      <input
        type="password"
        formControlName="password"
        name="password"
        ngModel
        required
        class="input-group-text"
      />
    </div>

    <div>
      <label for="nom"> Nom :</label>
      <input
        type="text"
        formControlName="nom"
        name="nom"
        ngModel
        required
        class="input-group-text"
      />

      <label for="prenom"> Prénom :</label>
      <input
        type="text"
        formControlName="prenom"
        name="prenom"
        ngModel
        required
        class="input-group-text"
      />
    </div>

    <div>
      <label for="adresse"> Numero et rue de l'adresse :</label>
      <input
        type="text"
        formControlName="adresse"
        name="nom"
        ngModel
        required
        class="input-group-text"
      />
      <label for="ville"> Ville :</label>
      <input
        formControlName="ville"
        name="ville"
        ngModel
        required
        class="input-group-text"
      />
    </div>

    <div class="form-group col-md-12 m-2">
      <button type="submit" class="btn btn-danger m-2">Enregistrer</button>

      <button routerLink="" class="btn btn-light">Return</button>
    </div>
  </form>
</div>
