/* You can add global styles to this file, and also import other style files */

body{
  background: #180806;
// background-color: #3e1e14;
  color: #d9bcb4;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
